/* Style général */
.intro-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

/* Conteneur principal */
.intro-page .container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
}





/* Cadre du texte descriptif */
.intro-page .quiz-description {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-10%, -10%);

     /* Empêche que le texte soit trop large */
    background-color: rgba(255, 255, 255, 0.95);
    padding: 25px;
    border-radius: 12px;

    text-align: center;
}



/* Texte */
.intro-page .quiz-description p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}




/* Bouton commencer */
.intro-page .start-button {
    background-color: #2d2750;
    color: white;
    border: none;
    margin-top:130px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.intro-page .start-button:hover {
    background-color: #1b1938;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Animation d'apparition fluide pour IntroPage uniquement */
.intro-page {
    animation: fadeInIntro 0.8s forwards;
}

@keyframes fadeInIntro {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Ajustement responsive */
/* Cadre du texte descriptif */
.intro-page .quiz-description {
    position: absolute;
    top: 50%; /* On le descend un peu plus */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 12px;

    text-align: center;
}



/* Ajustement responsive */
@media (max-width: 768px) {
    .intro-page .quiz-description {
        top: 58%; /* Ajuste encore plus sur mobile */
        width: 85%;
        padding: 20px;
    }

}

/* Par défaut, le badge est visible */
.grecaptcha-badge {
    transition: opacity 1s ease-in-out;
}

/* Après un certain temps, il devient invisible */
.hidden-recaptcha {
    opacity: 0;
    pointer-events: none; /* Empêche l'interaction */
}






